<a href="https://colab.research.google.com/github/Raikama/analise-emiss-es-seeg/blob/main/Desafio_de_An%C3%A1lise_de_Dados_com_dados_reais_do_SEEG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

09
Desafio: hora da prática

Chegou o momento de praticar! Vamos aplicar os conceitos aprendidos durante a aula a partir de algumas atividades. Solucione os problemas propostos através de códigos utilizando a base de dados disponibilizada no curso.

1) Faça um agrupamento de dados com as colunas "Estado" e "Nível 1 - Setor", obtendo a soma de emissão e armazenando o resultado em uma tabela.

2) Utilizando a tabela construída na atividade 1, selecione os dados referentes à "Energia" do índice "Nível 1 - Setor".

3) Utilizando a tabela construída na atividade 1, encontre a atividade econômica com valor máximo de emissão do Estado de Minas Gerais

4) Obtenha uma tabela contendo a atividade econômica com máxima emissão para cada Estado.

5) Obtenha uma tabela contendo o Estado com máxima emissão para cada atividade econômica.

Caso precise de ajuda, opções de solução das atividades estarão disponíveis na seção “Opinião da pessoa instrutora”.

In [1]:
import pandas as pd

In [3]:
url = '/content/drive/MyDrive/Alura_data_science/1-SEEG10_GERAL-BR_UF_2022.10.27-FINAL-SITE.xlsx'
#IMPORTAÇÃO DO LINK DA PLANILHA DE EXCEL SEEG

In [5]:
dados_bruto_seeg = pd.read_excel(url, sheet_name= 'GEE Estados')

#TRABALHANDO COM A PLANILHA GEE ESTADOS

/usr/local/lib/python3.12/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [6]:
dados_bruto_seeg

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,...,897.600,897.600,897.600,897.600,897.600,897.600,897.600,897.600,8.976000e+02,897.600
1,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,N2O (t),SP,OUTRA_IND,...,130.000,130.000,130.000,130.000,130.000,130.000,130.000,130.000,1.300000e+02,130.000
2,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,CO (t),SP,OUTRA_IND,...,1380.576,1380.576,1380.576,1380.576,1380.576,1380.576,1380.576,1380.576,1.380576e+03,1380.576
3,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,NOx (t),SP,OUTRA_IND,...,431.430,431.430,431.430,431.430,431.430,431.430,431.430,431.430,4.314300e+02,431.430
4,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,CO2e (t) GWP-AR2,SP,OUTRA_IND,...,40300.000,40300.000,40300.000,40300.000,40300.000,40300.000,40300.000,40300.000,4.030000e+04,40300.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103307,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GTP-AR6,BR,NaN,...,2731963.400,1091033.900,853275.300,1003731.400,1615000.600,1552258.800,216231.900,2805297.300,9.659261e+06,0.000
103308,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR2,BR,NaN,...,2921341.000,1144504.000,896685.000,1074717.000,1763431.000,1706030.000,252599.000,3105007.000,1.053571e+07,0.000
103309,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR4,BR,NaN,...,2950049.000,1151848.000,902209.000,1084073.000,1782863.000,1726958.000,257507.000,3147567.000,1.067568e+07,0.000
103310,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR5,BR,NaN,...,2957780.000,1152868.000,902368.000,1084826.000,1784237.000,1729598.000,258068.000,3155415.000,1.072232e+07,0.000
103311,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR6,BR,NaN,...,2953478.000,1151967.000,901817.000,1083792.000,1782129.000,1727086.000,257491.000,3149790.000,1.069948e+07,0.000

In [13]:
dados_bruto_seeg.loc[:,'Nível 1 - Setor':'Produto']

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,Produto
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,NaN
1,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,N2O (t),SP,OUTRA_IND,NaN
2,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,CO (t),SP,OUTRA_IND,NaN
3,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,NOx (t),SP,OUTRA_IND,NaN
4,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,CO2e (t) GWP-AR2,SP,OUTRA_IND,NaN
...,...,...,...,...,...,...,...,...,...,...,...
103307,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GTP-AR6,BR,NaN,NaN
103308,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR2,BR,NaN,NaN
103309,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR4,BR,NaN,NaN
103310,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR5,BR,NaN,NaN
103311,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR6,BR,NaN,NaN

In [18]:
info_colunas = list(dados_bruto_seeg.loc[:,'Nível 1 - Setor':'Produto'].columns)
info_colunas

['Nível 1 - Setor',
 'Nível 2',
 'Nível 3',
 'Nível 4',
 'Nível 5',
 'Nível 6',
 'Emissão / Remoção / Bunker',
 'Gás',
 'Estado',
 'Atividade Econômica',
 'Produto']

In [15]:
dados_bruto_seeg.loc[:,1970:2021]

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0.0,0.000,0.000,0.000,0.00,16.728,1.552576e+02,1.629552e+02,2.314992e+02,3.082848e+02,...,897.600,897.600,897.600,897.600,897.600,897.600,897.600,897.600,8.976000e+02,897.600
1,6210.0,6116.580,7747.650,8276.580,9366.30,9675.720,1.299105e+04,1.389312e+04,1.448847e+04,1.459296e+04,...,130.000,130.000,130.000,130.000,130.000,130.000,130.000,130.000,1.300000e+02,130.000
2,368.0,362.464,459.120,490.464,555.04,573.376,7.698400e+02,8.232960e+02,8.585760e+02,8.647680e+02,...,1380.576,1380.576,1380.576,1380.576,1380.576,1380.576,1380.576,1380.576,1.380576e+03,1380.576
3,115.0,113.270,143.475,153.270,173.45,179.180,2.405750e+02,2.572800e+02,2.683050e+02,2.702400e+02,...,431.430,431.430,431.430,431.430,431.430,431.430,431.430,431.430,4.314300e+02,431.430
4,1925100.0,1896139.800,2401771.500,2565739.800,2903553.00,2999473.200,4.027226e+06,4.306867e+06,4.491426e+06,4.523818e+06,...,40300.000,40300.000,40300.000,40300.000,40300.000,40300.000,40300.000,40300.000,4.030000e+04,40300.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103307,0.0,0.000,0.000,0.000,0.00,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2731963.400,1091033.900,853275.300,1003731.400,1615000.600,1552258.800,216231.900,2805297.300,9.659261e+06,0.000
103308,0.0,0.000,0.000,0.000,0.00,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2921341.000,1144504.000,896685.000,1074717.000,1763431.000,1706030.000,252599.000,3105007.000,1.053571e+07,0.000
103309,0.0,0.000,0.000,0.000,0.00,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2950049.000,1151848.000,902209.000,1084073.000,1782863.000,1726958.000,257507.000,3147567.000,1.067568e+07,0.000
103310,0.0,0.000,0.000,0.000,0.00,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2957780.000,1152868.000,902368.000,1084826.000,1784237.000,1729598.000,258068.000,3155415.000,1.072232e+07,0.000
103311,0.0,0.000,0.000,0.000,0.00,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2953478.000,1151967.000,901817.000,1083792.000,1782129.000,1727086.000,257491.000,3149790.000,1.069948e+07,0.000

In [20]:
ano = list(dados_bruto_seeg.loc[:,1970:2021].columns)
ano

[1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [22]:
dados_novos_SEEG = dados_bruto_seeg.melt(id_vars= info_colunas, value_vars= ano, value_name='Emissão', var_name='Ano')
dados_novos_SEEG
#MEU OBJETIVO FOI CRIAR UMA BASE DE DADOS TRANSFORMANDO OS ANOS(COLUNAS EM LINHAS)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,Produto,Ano,Emissão
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,NaN,1970,0.0
1,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,N2O (t),SP,OUTRA_IND,NaN,1970,6210.0
2,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,CO (t),SP,OUTRA_IND,NaN,1970,368.0
3,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,NOx (t),SP,OUTRA_IND,NaN,1970,115.0
4,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,Emissão,CO2e (t) GWP-AR2,SP,OUTRA_IND,NaN,1970,1925100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372219,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GTP-AR6,BR,NaN,NaN,2021,0.0
5372220,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR2,BR,NaN,NaN,2021,0.0
5372221,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR4,BR,NaN,NaN,2021,0.0
5372222,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR5,BR,NaN,NaN,2021,0.0
5372223,Mudança de Uso da Terra e Floresta,Queimadas Não Associadas a Desmatamento,Pantanal,NaN,NaN,NaN,Emissão NCI,CO2e (t) GWP-AR6,BR,NaN,NaN,2021,0.0

In [43]:
#ATIVIDADE 1

agrup_dados = dados_novos_SEEG.groupby(['Estado', 'Nível 1 - Setor'])['Emissão'].sum()

#OBTÉM UMA TABELA AGRUPANDO ESTADOS, NÍVEL 1 E SOMA AS EMISSÕES DAS ATIVIDADES
#Variavel Agrup_dados : Agrupa por Estado, Nivel 1 e soma as emissões
agrup_dados.head(60)

Estado  Nível 1 - Setor
AC      Agropecuária                         -3.272006e+08
        Energia                               2.071751e+08
        Mudança de Uso da Terra e Floresta    4.704492e+09
        Resíduos                              2.928323e+07
AL      Agropecuária                          1.215829e+09
        Energia                               5.958697e+08
        Mudança de Uso da Terra e Floresta    2.480477e+08
        Processos Industriais                 6.035868e+07
        Resíduos                              1.372234e+08
AM      Agropecuária                          4.089345e+07
        Energia                               1.916462e+09
        Mudança de Uso da Terra e Floresta   -1.534448e+10
        Processos Industriais                 6.577097e+07
        Resíduos                              2.095418e+08
AP      Agropecuária                          1.345908e+08
        Energia                               2.638059e+08
        Mudança de Uso da Terra e Floresta   -2.638732e+09
        Resíduos                              3.146253e+07
BA      Agropecuária                          7.227622e+09
        Energia                               4.801368e+09
        Mudança de Uso da Terra e Floresta    6.723253e+09
        Processos Industriais                 5.279045e+08
        Resíduos                              5.870007e+08
BR      Mudança de Uso da Terra e Floresta    2.587254e+10
CE      Agropecuária                          2.334039e+09
        Energia                               1.879584e+09
        Mudança de Uso da Terra e Floresta    7.161391e+08
        Processos Industriais                 2.029116e+08
        Resíduos                              4.084013e+08
DF      Agropecuária                          1.118528e+08
        Energia                               9.487860e+08
        Mudança de Uso da Terra e Floresta   -1.468681e+07
        Processos Industriais                 2.808629e+08
        Resíduos                              1.513052e+08
ES      Agropecuária                          1.713008e+09
        Energia                               2.201326e+09
        Mudança de Uso da Terra e Floresta    8.363656e+08
        Processos Industriais                 2.344011e+09
        Resíduos                              2.000138e+08
GO      Agropecuária                          1.156308e+10
        Energia                               2.761709e+09
        Mudança de Uso da Terra e Floresta    4.988372e+09
        Processos Industriais                 1.716006e+08
        Resíduos                              3.164097e+08
MA      Agropecuária                          2.394271e+09
        Energia                               1.699005e+09
        Mudança de Uso da Terra e Floresta    1.620688e+10
        Processos Industriais                 3.000290e+08
        Resíduos                              2.394387e+08
MG      Agropecuária                          1.557237e+10
        Energia                               9.663844e+09
        Mudança de Uso da Terra e Floresta    7.724150e+09
        Processos Industriais                 6.806110e+09
        Resíduos                              1.111180e+09
MS      Agropecuária                          1.242494e+10
        Energia                               1.593967e+09
        Mudança de Uso da Terra e Floresta    8.791041e+09
        Processos Industriais                 8.885246e+07
        Resíduos                              1.277791e+08
MT      Agropecuária                          1.029622e+10
Name: Emissão, dtype: float64

In [102]:
#ATIVIDADE 3

agrup_dados.loc['MG'].idxmax()

#PEGA O SETOR DO MAIOR VALOR DO ESTADO DE MINAS GERAIS

'Agropecuária'

In [90]:
#ATIVIDADE 4
max_emissao = agrup_dados.groupby(level=1).idxmax()

#TRANSFORMA EM TABELA A MAIOR ATIVIDADE ECONOMICA POR ESTADO

In [91]:
max_emissao

Nível 1 - Setor
Agropecuária                                                (MG, Agropecuária)
Energia                                                          (SP, Energia)
Mudança de Uso da Terra e Floresta    (MT, Mudança de Uso da Terra e Floresta)
Processos Industriais                              (MG, Processos Industriais)
Resíduos                                                       (SP, Resíduos )
Name: Emissão, dtype: object

In [95]:
#ATIVIDADE 5
max_emissao_Estado = agrup_dados.groupby(level=0).idxmax()

#OBTÉM UMA TABELA CONTENDO A MÁXIMA EMISSÃO PARA CADA ATIVIDADE ECONÔMICA

In [96]:
max_emissao_Estado

Estado
AC    (AC, Mudança de Uso da Terra e Floresta)
AL                          (AL, Agropecuária)
AM                               (AM, Energia)
AP                               (AP, Energia)
BA                          (BA, Agropecuária)
BR    (BR, Mudança de Uso da Terra e Floresta)
CE                          (CE, Agropecuária)
DF                               (DF, Energia)
ES                 (ES, Processos Industriais)
GO                          (GO, Agropecuária)
MA    (MA, Mudança de Uso da Terra e Floresta)
MG                          (MG, Agropecuária)
MS                          (MS, Agropecuária)
MT    (MT, Mudança de Uso da Terra e Floresta)
PA    (PA, Mudança de Uso da Terra e Floresta)
PB                          (PB, Agropecuária)
PE                          (PE, Agropecuária)
PI                          (PI, Agropecuária)
PR                          (PR, Agropecuária)
RJ                               (RJ, Energia)
RN                               (RN, Energia)
RO    (RO, Mudança de Uso da Terra e Floresta)
RR                               (RR, Energia)
RS                          (RS, Agropecuária)
SC                               (SC, Energia)
SE                          (SE, Agropecuária)
SP                               (SP, Energia)
TO    (TO, Mudança de Uso da Terra e Floresta)
Name: Emissão, dtype: object